<!doctype html>
<html lang="en">

<head>
    
  <title>CITRUSKITCHEN</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/landing.css') }}">
</head>

<body>

    <h1>
    <div>CITRUSKITCHEN</div>
    </h1>

    <div>What type of institution are you?</div>
    <form action="">
        <a href="/restaurant"> Restaurant (donating food)</a>
        <br>
        <a href="/shelter"> Shelter (receiving food donation)</a>
    </form>

</body>
