<html>

<head>
    
<title> Transparent Login Form Design </title>
    
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/register.css') }}">

</head>
    
<body>
    
<div class="login-box">
    
<img src="{{ url_for('static',filename='images/corgi2.jpg') }}" class="avatar">
        
<h1>Register Here</h1>
            
<form>
            
<p>Username</p>
            
<input type="text" name="username" placeholder="Enter Username">
            
<p>Password</p>
            
<input type="password" name="password" placeholder="Enter Password">
            
<p>Company</p>
            
<input type="text" name="name" placeholder="Enter Name">
            
<p>Location</p>
            
<input type="text" name="location" placeholder="Enter Location">
            
<p>Phone Number</p>
            
<input type="text" name="phone" placeholder="Enter Phone Number">
            
<input type="submit" name="submit" value="Register">
            
<a href="login.html">Log In</a>
            
</form>


        
</div>

    
</body>

</html>
