<!doctype html>
<html lang="en">

<head>
    
  <title>CITRUSKITCHEN</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="../style.css">

</head>

<body>
    <h1>
        <div>CITRUSKITCHEN</div>
    </h1>

    <form class="form-upper" action="./restaurantsec.html" method="POST">
        
        Grocery Store/Restaurant Name: <input type="text" name="restaurantname"> <br>
        Food Name: <input type="text" name="foodname"> <br>
        Food Description (Brief): <input type="text" name="fooddesc"> <br>
        Expiration Date: <input type="text" name="expdate"> <br>
        Quantity (Estimated Number of Meals): <input type="text" name="quant"> <br>
    
        <input type="submit" name="my-form" value="Second Page!">
    
    </form>

</body>