<!doctype html>
<html lang="en">

<head>
    
  <title>CITRUSKITCHEN</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/restaurantsec.css') }}">

</head>

<body>
    <h1>
        <div>CITRUSKITCHEN</div>
    </h1>

    <form class="form-upper" action="../index.html">
            <p>Vegetarian? <input type="checkbox" id="veget" name="vegetarian" value="yes"> </p>
            <p> Vegan? <input type="checkbox" id="veg" name="vegan" value="yes"> </p>
            <p> Halal? <input type="checkbox" id="hal" name="halal" value="yes"></p>
            <p>Contains dairy? <input type="checkbox" id="dair" name="dairy" value="yes"></p>
            <p>Contains eggs? <input type="checkbox" id="egg" name="eggs" value="yes"></p>
            <p>Contains shellfish? <input type="checkbox" id="shell" name="shellfish" value="yes"></p>
            <p>Contains wheat? <input type="checkbox" id="whea" name="wheat" value="yes"></p>
            
            <input type="submit" name="my-form" value="Send Information!">
    
    </form>

</body>

